<header>
  <nav>
    <ul>
      <li>
        <a href="/">Homepage</a>
      </li>
      <li>
        <a href="/new">Add a book</a>
      </li>
      <li>
        <a href="/books/datas">BookList JSON</a>
      </li>
      <li>
        <a href="/booklist">My Booklist</a>
      </li>
      <li>
        <a href="/params">Parameters book</a>
        <ul>
        <li><a href="/categories/datas">Categories JSON</a></li>
        <li><a href="/kinds/datas">Kinds JSON</a></li>
        <li><a href="/list/datas">Lists JSON</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>