<header>
  <nav>
    <ul>
      <li>
        <a href="/">Homepage</a>
      </li>
      <li>
        <a href="/new">Add a book</a>
      </li>
      <li>
        <a href="/books/list">List JSON</a>
      </li>
      <li>
        <a href="/list">My Booklist</a>
      </li>
      <li>
        <a href="/params">Parameters book</a>
      </li>
    </ul>
  </nav>
</header>