<header>
  <nav>
    <ul>
      <li>
        <a href="/">Homepage</a>
      </li>
      <li>
        <a href="/booklist/new">Add a book</a>
      </li>

      <li>
        <a href="/booklist">My Booklist</a>
      </li>
      <li>
        <a href="/parameters">Parameters book</a>
      </li>

      <li>
        <p>JSON Files</p>
        <ul>
          <li>
            <a href="/booklist/datas">BookList JSON</a>
          </li>
          <li>
            <a href="/categories/datas">Categories JSON</a>
          </li>
          <li>
            <a href="/kinds/datas">Kinds JSON</a>
          </li>
          <li>
            <a href="/lists/datas">Lists JSON</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>